<div class="container">

    <nb-card size="large">
      <nb-card-body>
        <div class="picture"></div>
        <h3 class="text-hint">ANDREA FILOMENA</h3>
        <p>SIMPLE IS BETTER</p>
      </nb-card-body>
      <nb-card-footer>
        <a routerLink="/blog">
          <i class="ion-navicon-round"></i>
        </a>
        <a href="https://www.linkedin.com/in/andreafilomena" target="_blank">
          <i class="ion-social-linkedin"></i>
        </a>
        </nb-card-footer>
    </nb-card>

  </div>
